<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Component Infomation</key>
	<dict>
		<key>JHECShopHomeComponent</key>
		<dict>
			<key>libName</key>
			<string>libJHECShopHomeComponent.a</string>
			<key>Resource </key>
			<string>JHECShopHomeBundle.bundle</string>
		</dict>
		<key>JHECGoodsDetailComponent</key>
		<dict>
			<key>libName</key>
			<string>libJHECGoodsDetailComponent.a</string>
			<key>Resource </key>
			<string>JHECGoodsDetailBundle.bundle</string>
		</dict>
		<key>JHECSearchComponent</key>
		<dict>
			<key>libName</key>
			<string>libJHECSearchComponent.a</string>
			<key>Resource </key>
			<string>JHECSearchBundle.bundle</string>
		</dict>
		<key>JHECGoodsCategoryComponent</key>
		<dict>
			<key>libName</key>
			<string>libJHECGoodsCategoryComponent.a</string>
			<key>Resource </key>
			<string>JHECGoodsCategoryBundle.bundle</string>
		</dict>
		<key>JHECShoppingCartComponent</key>
		<dict>
			<key>libName</key>
			<string>libJHECShoppingCartComponent.a</string>
			<key>Resource </key>
			<string>JHECShoppingCartBundle.bundle</string>
		</dict>
		<key>JHRepastCommerceHomeComponent</key>
		<dict>
			<key>libName</key>
			<string>libJHRepastCommerceHomeComponent.a</string>
			<key>Resource </key>
			<string>JHRepastCommerceHomeBundle.bundle</string>
		</dict>
		<key>JHECSpecialSupportComponent</key>
		<dict>
			<key>libName</key>
			<string>libJHECSpecialSupportComponent.a</string>
			<key>Resource </key>
			<string>JHECSpecialSupportBundle.bundle</string>
		</dict>
		<key>iOS_ECommerceHome</key>
		<dict>
			<key>libName</key>
			<string>libECommerceHome.a</string>
			<key>Resource</key>
			<string>ECommerceHomeBundle.bundle</string>
		</dict>
		<key>JHECMyWalletComponent</key>
		<dict>
			<key>libName</key>
			<string>libJHECMyWalletComponent.a</string>
			<key>Resource</key>
			<string>JHECMyWalletBundle.bundle</string>
		</dict>
		<key>iOS_JHECShoppingMainComponent</key>
		<dict>
			<key>libName</key>
			<string>libJHECShoppingMainComponent.a</string>
			<key>Resource</key>
			<string>JHECShoppingMainBundle.bundle</string>
		</dict>
		<key>JHECNearSearchComponent</key>
		<dict>
			<key>libName</key>
			<string>libJHECNearSearchComponent.a</string>
			<key>Resource</key>
			<string>JHECNearSearchBundle.bundle</string>
		</dict>
		<key>ios_qr</key>
		<dict>
			<key>libName</key>
			<string>libRichScanLib.a</string>
			<key>Resource</key>
			<string>RichScanSource.bundle</string>
		</dict>
		<key>JHCheckMachineManage_ios</key>
		<dict>
			<key>Resource</key>
			<string></string>
			<key>libName</key>
			<string>libJHCheckMachine.a</string>
		</dict>
		<key>ios_AutoConfigComponent</key>
		<dict>
			<key>Resource</key>
			<string>JHAutoMineSource.bundle</string>
			<key>libName</key>
			<string>JHAutoMine.a</string>
		</dict>
		<key>iOS_EntityInformationCom</key>
		<dict>
			<key>libName</key>
			<string>libJHMapBussinessUnit.a</string>
			<key>Resource</key>
			<string>JHMapBussinessSetResource.bundle</string>
		</dict>
		<key>ios_media</key>
		<dict>
			<key>libName</key>
			<string>libJHAudioVideoList.a</string>
			<key>Resource</key>
			<string>JHAudioPlayResources.bundle</string>
		</dict>
		<key>ios_communication</key>
		<dict>
			<key>libName</key>
			<string>libJHCommunicationApi.a</string>
			<key>Resource</key>
			<string>JHCommunicationBundle.bundle</string>
		</dict>
		<key>ios_chat</key>
		<dict>
			<key>libName</key>
			<string>libJinherCCP.a</string>
			<key>Resource</key>
			<string>JinherCCPSource.bundle</string>
		</dict>
		<key>ios_c6</key>
		<dict>
			<key>libName</key>
			<string>libJHC6Lib.a</string>
			<key>Resource</key>
			<string>JHC6Resource.bundle</string>
		</dict>
		<key>ios_gold</key>
		<dict>
			<key>libName</key>
			<string>libGoldModule.a</string>
			<key>Resource</key>
			<string>GoldModuleSources.bundle</string>
		</dict>
		<key>square</key>
		<dict>
			<key>libName</key>
			<string>libHDSquare.a</string>
			<key>Resource</key>
			<string>HDSquareResources.bundle</string>
		</dict>
		<key>ios_set_personal_info</key>
		<dict>
			<key>libName</key>
			<string>libUserExtendInfomation.a</string>
			<key>Resource</key>
			<string></string>
		</dict>
		<key>ios_lbs</key>
		<dict>
			<key>libName</key>
			<string>libJHLBSLibrary.a</string>
			<key>Resource</key>
			<string></string>
		</dict>
		<key>ios_csrotation</key>
		<dict>
			<key>libName</key>
			<string>libJHCSRotationImageViewManage.a</string>
			<key>Resource</key>
			<string></string>
		</dict>
		<key>ios_cplus</key>
		<dict>
			<key>libName</key>
			<string>libJHCPlusLogin.a</string>
			<key>Resource</key>
			<string>JHCPlusLoginResouce.bundle</string>
		</dict>
		<key>ios_jinhertest</key>
		<dict>
			<key>libName</key>
			<string>libjinhertest.a</string>
			<key>Resource</key>
			<string></string>
		</dict>
		<key>ios_jhsocialorganization</key>
		<dict>
			<key>libName</key>
			<string>libJHSocialOrganizationLibrary.a</string>
			<key>Resource</key>
			<string></string>
		</dict>
		<key>ios_jhchatlibrary</key>
		<dict>
			<key>libName</key>
			<string>libJHChatLibrary.a</string>
			<key>Resource</key>
			<string></string>
		</dict>
		<key>ios_jhsmallspace</key>
		<dict>
			<key>libName</key>
			<string>libJHSmallSpace.a</string>
			<key>Resource</key>
			<string>JHSmallSpaceResource.bundle</string>
		</dict>
		<key>ios_jhsplitactivity</key>
		<dict>
			<key>libName</key>
			<string>libJHSplitActivity.a</string>
			<key>Resource</key>
			<string>JHSplitActivityResource.bundle</string>
		</dict>
		<key>ios_jhgesturelock</key>
		<dict>
			<key>libName</key>
			<string>libJHGestureLock.a</string>
			<key>Resource</key>
			<string>JHGestureLockBundle.bundle</string>
		</dict>
		<key>ios_jhcommunicatecustomservicelibray</key>
		<dict>
			<key>libName</key>
			<string>libJHCommunicateCustomServiceLibray.a</string>
			<key>Resource</key>
			<string></string>
		</dict>
		<key>ios_third_part_login</key>
		<dict>
			<key>libName</key>
			<string>libJHThirdPartLoginLib.a</string>
			<key>Resource</key>
			<string></string>
		</dict>
		<key>ios_TLNewsHomepage</key>
		<dict>
			<key>libName</key>
			<string>libTLNewsHomepage.a</string>
			<key>Resource</key>
			<string>TLNewsHomepageResource.bundle</string>
		</dict>
		<key>ios_jhmine</key>
		<dict>
			<key>libName</key>
			<string>libJHMine.a</string>
			<key>Resource</key>
			<string>JHMineResource.bundle</string>
		</dict>
		<key>ios_Genuine_Shopping_My</key>
		<dict>
			<key>libName</key>
			<string>libGenuineShoppingMy.a</string>
			<key>Resource</key>
			<string>GenuineShopingMy.bundle</string>
		</dict>
		<key>iOS_MessageShowCenter</key>
		<dict>
			<key>libName</key>
			<string>libJHMessageShowCenterApi.a</string>
			<key>Resource</key>
			<string>JHMessageCenterBundle.bundle</string>
		</dict>
		<key>iOS_CommunicateGroup</key>
		<dict>
			<key>libName</key>
			<string>libJHCommunicateGroupLibrary.a</string>
			<key>Resource</key>
			<string>JHCommunicateGroupBundle.bundle</string>
		</dict>
		<key>iOS_CommunicateAddressBook</key>
		<dict>
			<key>libName</key>
			<string>libJHCommunicateAddressBook.a</string>
			<key>Resource</key>
			<string></string>
		</dict>
		<key>ios_GSBaseCommodity</key>
		<dict>
			<key>libName</key>
			<string>libGSBaseCommodityComponentLibrary.a</string>
			<key>Resource</key>
			<string>GSCommodityComponentResources.bundle</string>
		</dict>
		<key>iOS_GSSpecies</key>
		<dict>
			<key>libName</key>
			<string>libGSSpeciesComponentLibrary.a</string>
			<key>Resource</key>
			<string>GSSpeciesComponentResources.bundle</string>
		</dict>
		<key>iOS_GSStoreInterConnect</key>
		<dict>
			<key>libName</key>
			<string>libGSSoreInterConnectComponentLibrary.a</string>
			<key>Resource</key>
			<string></string>
		</dict>
		<key>iOS_JHLActivity</key>
		<dict>
			<key>libName</key>
			<string>libJHLActivityComponentApi.a</string>
			<key>Resource</key>
			<string>JHActivityComponent.bundle</string>
		</dict>
		<key>iOS_JHSearch</key>
		<dict>
			<key>libName</key>
			<string>libJHRedoSearch.a</string>
			<key>Resource</key>
			<string>JHRedoSearchResource.bundle</string>
		</dict>
		<key>iOS_GSActivity</key>
		<dict>
			<key>libName</key>
			<string>libGSActivityComponentLibrary.a</string>
			<key>Resource</key>
			<string>libGSActivityComponentBundle.bundle</string>
		</dict>
		<key>iOS_CPlusDownloadUpload</key>
		<dict>
			<key>libName</key>
			<string>libJHCPlusDownLoadAndUpLoad.a</string>
			<key>Resource</key>
			<string></string>
		</dict>
		<key>iOS_FileEditor</key>
		<dict>
			<key>libName</key>
			<string>libJHFileEditComponent.a</string>
			<key>Resource</key>
			<string></string>
		</dict>
		<key>iOS_KingsoftOffice</key>
		<dict>
			<key>libName</key>
			<string>libKingsoftOfficeSDK.a</string>
			<key>Resource</key>
			<string></string>
		</dict>
		<key>iOS_NotificationCenterManager</key>
		<dict>
			<key>libName</key>
			<string>libJHNotificationCenterManagerLibrary.a</string>
			<key>Resource</key>
			<string></string>
		</dict>
		<key>ios_JHLiveVideoAEM</key>
		<dict>
			<key>libName</key>
			<string>libJHLiveVideoAEM.a</string>
			<key>Resource</key>
			<string>JHLiveVideoAEMResource.bundle</string>
		</dict>
		<key>ios_JHXpai</key>
		<dict>
			<key>libName</key>
			<string>libJHXpai.a</string>
			<key>Resource</key>
			<string>JHXpaiResource.bundle</string>
		</dict>
		<key>ios_GSShoppingList</key>
		<dict>
			<key>libName</key>
			<string>libGSShoppingListComponentLibrary.a</string>
			<key>Resource</key>
			<string>GSShppingListComponentResource.bundle</string>
		</dict>
		<key>ios_GSStoreInfo</key>
		<dict>
			<key>libName</key>
			<string>libGSStoreInformationComponentLibrary.a</string>
			<key>Resource</key>
			<string>GSStoreInfoComponentResource.bundle</string>
		</dict>
		<key>ios_JHRecommend</key>
		<dict>
			<key>libName</key>
			<string>libJHRecommend.a</string>
			<key>Resource</key>
			<string></string>
		</dict>
		<key>ios_JHWebExVideoConference</key>
		<dict>
			<key>libName</key>
			<string>libJHWebExVideoConference.a</string>
			<key>Resource</key>
			<string></string>
		</dict>
		<key>ios_JHZoomVideoConference</key>
		<dict>
			<key>libName</key>
			<string>libJHZoomVideoConference.a</string>
			<key>Resource</key>
			<string></string>
			<key>framework</key>
			<string>zoomSDK</string>
		</dict>
		<key>ios_JHMessageCenterShell</key>
		<dict>
			<key>libName</key>
			<string>libJHMessageCenterShell.a</string>
			<key>Resource</key>
			<string>JHMessageCenterShellBundle.bundle</string>
		</dict>
		<key>ios_GSShopComment</key>
		<dict>
			<key>libName</key>
			<string>libGSShoppingCommentComponentLibrary.a</string>
			<key>Resource</key>
			<string></string>
		</dict>
		<key>ios_jhlocalwebload</key>
		<dict>
			<key>libName</key>
			<string>libjhLocalWebLoadLib.a</string>
			<key>Resource</key>
			<string>www</string>
		</dict>
		<key>ios_JHMsgandContactShell</key>
		<dict>
			<key>libName</key>
			<string>libJHComuinationShellLibrary.a</string>
			<key>Resource</key>
			<string>JHComuinationShellLibraryBundle.bundle</string>
		</dict>
		<key>iOS_BusinessFileDownLoad</key>
		<dict>
			<key>libName</key>
			<string>libJHMessageCenterBusinessDownloadLibrary.a</string>
			<key>Resource</key>
			<string></string>
		</dict>
		<key>ios_GSShopDetailVideo</key>
		<dict>
			<key>libName</key>
			<string>libGSShopDetailVideoComponentLibrary.a</string>
			<key>Resource</key>
			<string>GSShopDetailVideoComponentResource.bundle</string>
		</dict>
		<key>iOS_CommonAddressBook</key>
		<dict>
			<key>libName</key>
			<string>libJHCommonAddressBookApi.a</string>
			<key>Resource</key>
			<string>JHCommonAddressBookBundle.bundle</string>
		</dict>
		<key>iOS_JHMemberNewsLib</key>
		<dict>
			<key>libName</key>
			<string>libJHMemberNewsLibrary.a</string>
			<key>Resource</key>
			<string>JHMemberNewsLibraryBundle.bundle</string>
		</dict>
		<key>iOS_JHBusinessFactory</key>
		<dict>
			<key>libName</key>
			<string>libJHBusinessFactoryLibrary.a</string>
			<key>Resource</key>
			<string></string>
		</dict>
		<key>iOS_JHUIFactory</key>
		<dict>
			<key>libName</key>
			<string>libJHUIFactoryLibrary.a</string>
			<key>Resource</key>
			<string></string>
		</dict>
		<key>iOS_JHH5Download</key>
		<dict>
			<key>libName</key>
			<string>libH5FileDownloadLibary.a</string>
			<key>Resource</key>
			<string>H5FileDownloadBundle.bundle</string>
		</dict>
		<key>ios_TingYunSDK</key>
		<dict>
			<key>libName</key>
			<string>libTingYunSDK.a</string>
			<key>Resource</key>
			<string></string>
			<key>framework</key>
			<string>tingyunApp</string>
		</dict>
		<key>iOS_JHLikeCommodityLib</key>
		<dict>
			<key>libName</key>
			<string>libJHGuessLikesCommodityLibrary.a</string>
			<key>Resource</key>
			<string></string>
			<key>framework</key>
			<string></string>
		</dict>
		<key>ios_publish</key>
		<dict>
			<key>libName</key>
			<string>libJHPublishComponent.a</string>
			<key>Resource</key>
			<string>JHPublishComponentResource.bundle</string>
			<key>framework</key>
			<string></string>
		</dict>
		<key>ios_JHPerformanceMonitor</key>
		<dict>
			<key>libName</key>
			<string>JHPerformanceMonitor.a</string>
			<key>Resource</key>
			<string></string>
			<key>framework</key>
			<string>CrashReporter</string>
		</dict>
		<key>ios_LiveLocal</key>
		<dict>
			<key>libName</key>
			<string></string>
			<key>Resource</key>
			<string>www/livelocal</string>
			<key>framework</key>
			<string></string>
		</dict>
		<key>ios_JHVideoRecording</key>
		<dict>
			<key>libName</key>
			<string>libJHVideoRecording.a</string>
			<key>Resource</key>
			<string>JHAudioPlayResources.bundle</string>
			<key>framework</key>
			<string></string>
		</dict>
		<key>ios_JHAudioRecording</key>
		<dict>
			<key>libName</key>
			<string>libJHAudioRecording.a</string>
			<key>Resource</key>
			<string>JHAudioPlayResources.bundle</string>
			<key>framework</key>
			<string></string>
		</dict>
		<key>ios_JHAudioPlay</key>
		<dict>
			<key>libName</key>
			<string>libJHAudioPlay.a</string>
			<key>Resource</key>
			<string>JHAudioPlayResources.bundle</string>
			<key>framework</key>
			<string></string>
		</dict>
		<key>iOS_JCPLUS_Auto_Location</key>
		<dict>
			<key>libName</key>
			<string>libJHAutoLocatedLibrary.a</string>
			<key>Resource</key>
			<string></string>
			<key>framework</key>
			<string></string>
		</dict>
		<key>ios_shoppingCart</key>
		<dict>
			<key>libName</key>
			<string>libJHShoppingCartLibrary.a</string>
			<key>Resource</key>
			<string>JHShoppingCartBundle.bundle</string>
			<key>framework</key>
			<string></string>
		</dict>
		<key>ios_NewDiscovery</key>
		<dict>
			<key>libName</key>
			<string>libJHNewDiscovery.a</string>
			<key>Resource</key>
			<string>JHNewDiscoveryResource.bundle</string>
			<key>framework</key>
			<string></string>
		</dict>
		<key>iOS_QuickExpandMenu</key>
		<dict>
			<key>libName</key>
			<string>QuickExpandMenuLibrary.a</string>
			<key>Resource</key>
			<string>QuickExpandMenuBundle.bundle</string>
			<key>framework</key>
			<string></string>
		</dict>
		<key>ios_GoodsDetail</key>
		<dict>
			<key>libName</key>
			<string>libHTGoodsDetailsComponent.a</string>
			<key>Resource</key>
			<string>HTGoodsDetail.bundle</string>
			<key>framework</key>
			<string></string>
		</dict>
		<key>ios_payment</key>
		<dict>
			<key>libName</key>
			<string>libJHNewPay.a</string>
			<key>Resource</key>
			<string></string>
			<key>framework</key>
			<string>AlipaySDK</string>
		</dict>
		<key>ios_libJHYIHIBO</key>
		<dict>
			<key>libName</key>
			<string>libJHYIHIBO.a</string>
			<key>Resource</key>
			<string>libJHYIHIBOResource.bundle</string>
			<key>framework</key>
			<string></string>
		</dict>
		<key>jhLiveIErMu_iOS</key>
		<dict>
			<key>libName</key>
			<string>libJHLiveVideoAEM2.a</string>
			<key>Resource</key>
			<string>JHLiveVideoAEMResource.bundle</string>
			<key>framework</key>
			<string></string>
		</dict>
		<key>ios_SXFJHVPN</key>
		<dict>
			<key>libName</key>
			<string>libJHVPNLibrary.a</string>
			<key>Resource</key>
			<string></string>
			<key>framework</key>
			<string></string>
		</dict>
		<key>jhFollow_IOS</key>
		<dict>
			<key>libName</key>
			<string>libJHFollow.a</string>
			<key>Resource</key>
			<string>JHMyFollowResource.bundle</string>
			<key>framework</key>
			<string></string>
		</dict>
		<key>ios_StoreHomePage</key>
		<dict>
			<key>libName</key>
			<string>libJHStoreHomePageLibrary.a</string>
			<key>Resource</key>
			<string></string>
			<key>framework</key>
			<string></string>
		</dict>
		<key>jhLiveAli_iOS</key>
		<dict>
			<key>libName</key>
			<string>libJHAliyunPlayer.a</string>
			<key>Resource</key>
			<string></string>
			<key>framework</key>
			<string></string>
		</dict>
		<key>StoresInfoMapComponent_IOS</key>
		<dict>
			<key>libName</key>
			<string>libJHStoreMapLibrary.a</string>
			<key>Resource</key>
			<string>JHStoreMapBundle.bundle</string>
			<key>framework</key>
			<string></string>
		</dict>
		<key>LiveNetEaseCom_iOS</key>
		<dict>
			<key>libName</key>
			<string>libNELivePlayerLibrary.a</string>
			<key>Resource</key>
			<string></string>
			<key>framework</key>
			<string></string>
		</dict>
		<key>LiveJHCamreaCom_iOS</key>
		<dict>
			<key>libName</key>
			<string>libHiP2PSDK.a</string>
			<key>Resource</key>
			<string></string>
			<key>framework</key>
			<string></string>
		</dict>
		<key>LiveJHCamreaCom_Depend_iOS</key>
		<dict>
			<key>libName</key>
			<string>libJHP2PKarryPlayer.a</string>
			<key>Resource</key>
			<string></string>
			<key>framework</key>
			<string></string>
		</dict>
		<key>YJBManage_ios</key>
		<dict>
			<key>libName</key>
			<string>libJHYJBRegisterVIP.a</string>
			<key>Resource</key>
			<string>JHYJBRegisterVIPResource.bundle</string>
			<key>framework</key>
			<string></string>
		</dict>
		<key>JHEBOL_ios</key>
		<dict>
			<key>libName</key>
			<string>libJHEBusinessOnlineLive.a</string>
			<key>Resource</key>
			<string>JHEBOLResource.bundle</string>
			<key>framework</key>
			<string></string>
		</dict>
		<key>JHGSScan_ios</key>
		<dict>
			<key>libName</key>
			<string>libJHGSScanLibrary.a</string>
			<key>Resource</key>
			<string>JHGSScanResource.bundle</string>
			<key>framework</key>
			<string></string>
		</dict>
		<key>JC6NativeComponent_IOS</key>
		<dict>
			<key>libName</key>
			<string>libjc6mine.a</string>
			<key>Resource</key>
			<string>JHJC6Resource.bundle</string>
			<key>framework</key>
			<string></string>
		</dict>
		<key>iOS_JHPatrolSDK</key>
		<dict>
			<key>libName</key>
			<string>libJHPatrolSDK.a</string>
			<key>Resource</key>
			<string>JHPatrolResources.bundle.bundle</string>
			<key>framework</key>
			<string></string>
		</dict>
		<key>iOS_JHCameraSDK</key>
		<dict>
			<key>libName</key>
			<string>liblibJHCameraSDK.a</string>
			<key>Resource</key>
			<string>JHCameraResources.bundle</string>
			<key>framework</key>
			<string></string>
		</dict>
		<key>ios_warshCar</key>
		<dict>
			<key>libName</key>
			<string>libBMWashCarSDK.a</string>
			<key>Resource</key>
			<string>BMWashCar.bundle</string>
			<key>framework</key>
			<string></string>
		</dict>
		<key>ios_taskthings</key>
		<dict>
			<key>libName</key>
			<string>libTaskThings.a</string>
			<key>Resource</key>
			<string>TaskThingsResource.bundle</string>
			<key>framework</key>
			<string></string>
		</dict>
		<key>JHTXLiteAVSDKLibrary</key>
		<dict>
			<key>libName</key>
			<string>libTXLiteAVSDKLibrary.a</string>
			<key>Resource</key>
			<string></string>
			<key>framework</key>
			<string>TXLiteAVSDK_Professional</string>
		</dict>
		<key>IOS_JHFilePick</key>
		<dict>
			<key>libName</key>
			<string>libJHFilePick.a</string>
			<key>Resource</key>
			<string>JHFilePickResource.bundle</string>
			<key>framework</key>
			<string></string>
		</dict>
		<key>JHXJSearchLibrary</key>
		<dict>
			<key>libName</key>
			<string>libJHXJSearchLibrary.a</string>
			<key>Resource</key>
			<string>JHXJSearchLibraryResources.bundle</string>
			<key>framework</key>
			<string></string>
		</dict>
		<key>IOS_JHStoreSignIn</key>
		<dict>
			<key>libName</key>
			<string>libJHStoreSignInLibrary.a</string>
			<key>Resource</key>
			<string></string>
			<key>framework</key>
			<string></string>
		</dict>
		<key>IOS_JHIntegral</key>
		<dict>
			<key>libName</key>
			<string>libJHIntegralLibrary.a</string>
			<key>Resource</key>
			<string>JHIntegralBundle.bundle</string>
			<key>framework</key>
			<string></string>
		</dict>
		<key>IOS_JHDirectBoss</key>
		<dict>
			<key>libName</key>
			<string>libJHDirectBossLibrary.a</string>
			<key>Resource</key>
			<string></string>
			<key>framework</key>
			<string></string>
		</dict>
		<key>IOS_JHBuyordersetting</key>
		<dict>
			<key>libName</key>
			<string>libJHBuyOrderSettingLibrary.a</string>
			<key>Resource</key>
			<string></string>
			<key>framework</key>
			<string></string>
		</dict>
		<key>ios_JHGSPersonalPage</key>
		<dict>
			<key>libName</key>
			<string>libYJPersonalPage.a</string>
			<key>Resource</key>
			<string>YJPersonalPageBundle.bundle</string>
			<key>framework</key>
			<string></string>
		</dict>
		<key>ios_BMCreditsExchange</key>
		<dict>
			<key>libName</key>
			<string>libBMCreditsExchangeSDK.a</string>
			<key>Resource</key>
			<string>BMCreditsExchangeFile.bundle</string>
			<key>framework</key>
			<string></string>
		</dict>
		<key>ios_Store_Chat</key>
		<dict>
			<key>libName</key>
			<string>libJHStoreCommunicateLibrary.a</string>
			<key>Resource</key>
			<string>JHStoreCommnucateSources.bundle</string>
			<key>framework</key>
			<string></string>
		</dict>
		<key>IOS_JHSelfInspectSDK</key>
		<dict>
			<key>libName</key>
			<string>libJHSelfInspectSDK.a</string>
			<key>Resource</key>
			<string>JHSelfInspectResources.bundle</string>
			<key>framework</key>
			<string></string>
		</dict>
		<key>IOS_JHStoreStaff</key>
		<dict>
			<key>libName</key>
			<string>libJHStoreStaff.a</string>
			<key>Resource</key>
			<string>JHStoreStaffBundle.bundle</string>
			<key>framework</key>
			<string></string>
		</dict>
		<key>iOS_IntelDecisionSDK</key>
		<dict>
			<key>libName</key>
			<string>libIntelDecisionSDK.a</string>
			<key>Resource</key>
			<string>IntelDecisionResource.bundle</string>
			<key>framework</key>
			<string></string>
		</dict>
		<key>iOS_FiveDutyPointLibrary</key>
		<dict>
			<key>libName</key>
			<string>libFivePointDutyLibrary.a</string>
			<key>Resource</key>
			<string>FivePointDutySource.bundle</string>
			<key>framework</key>
			<string></string>
		</dict>
		<key>iOS_MapBaseLibrary</key>
		<dict>
			<key>libName</key>
			<string>libJinherBaseMapLibrary.a</string>
			<key>Resource</key>
			<string></string>
			<key>framework</key>
			<string></string>
		</dict>
		<key>IOS_PreciseControlCom</key>
		<dict>
			<key>libName</key>
			<string>libGBCheckUpLibrary.a</string>
			<key>Resource</key>
			<string>GBCheckUpResource.bundle</string>
			<key>framework</key>
			<string></string>
		</dict>
		<key>IOS_FivePointsBlackBox</key>
		<dict>
			<key>libName</key>
			<string>libFivePointsBlackBox.a</string>
			<key>Resource</key>
			<string>FivePointsBlackBoxSource.bundle</string>
			<key>framework</key>
			<string></string>
		</dict>
		<key>ios_organization</key>
		<dict>
			<key>libName</key>
			<string>libJHUserFunction.a</string>
			<key>Resource</key>
			<string>JHUserFuntion.bundle</string>
			<key>framework</key>
			<string></string>
		</dict>
		<key>CityQuestionReport_iOS</key>
		<dict>
			<key>libName</key>
			<string>libGBCityTreatLibrary.a</string>
			<key>Resource</key>
			<string>GBCityTreatResource.bundle</string>
			<key>framework</key>
			<string></string>
		</dict>
		<key>ios_organization_inner</key>
		<dict>
			<key>libName</key>
			<string>libJHMyOrganization.a</string>
			<key>Resource</key>
			<string>JHMyOrganizationResource.bundle</string>
			<key>framework</key>
			<string></string>
		</dict>
		<key>iOS_ImageDrawLib</key>
		<dict>
			<key>libName</key>
			<string>libCLImageEditorSDK.a</string>
			<key>Resource</key>
			<string>CLImageEditor.bundle</string>
			<key>framework</key>
			<string></string>
		</dict>
		<key>AliRtcComponent_iOS</key>
		<dict>
			<key>libName</key>
			<string>libRTC.a</string>
			<key>Resource</key>
			<string>RTCResource.bundle</string>
			<key>framework</key>
			<string></string>
		</dict>
		<key>JHUGManagerSDK</key>
		<dict>
			<key>libName</key>
			<string>libJHUGManagerSDK.a</string>
			<key>Resource</key>
			<string>JHUGMResource.bundle</string>
			<key>framework</key>
			<string></string>
		</dict>
		<key>ios_CPPaySDK</key>
		<dict>
			<key>libName</key>
			<string>libCPPaySDK.a</string>
			<key>Resource</key>
			<string>CPPaySDK_Resources.bundle</string>
			<key>framework</key>
			<string></string>
		</dict>
		<key>iOS_FoodOriginSDK</key>
		<dict>
			<key>libName</key>
			<string>libJHFdOriginSDK.a</string>
			<key>Resource</key>
			<string>JHFdOriginResources.bundle</string>
			<key>framework</key>
			<string></string>
		</dict>
		<key>JHLocationMsgUpload</key>
		<dict>
			<key>libName</key>
			<string>libJHLocationMsgUpload</string>
			<key>Resource</key>
			<string>JHLocationMsgUploadBundle.bundle</string>
			<key>framework</key>
			<string></string>
		</dict>
		<key>iOS_MapTemplateComponent</key>
		<dict>
			<key>libName</key>
			<string>libJinherMapTempateLibrary.a</string>
			<key>Resource</key>
			<string>JinherMapTempateSource.bundle</string>
			<key>framework</key>
			<string></string>
		</dict>
		<key>iOS_MemoryMonitor</key>
		<dict>
			<key>libName</key>
			<string>libJHMemoryMonitor.a</string>
			<key>Resource</key>
			<string></string>
			<key>framework</key>
			<string></string>
		</dict>
		<key>iOS_PerformanceMonitor</key>
		<dict>
			<key>libName</key>
			<string>libJHPerformanceMonitor.a</string>
			<key>Resource</key>
			<string></string>
			<key>framework</key>
			<string></string>
		</dict>
		<key>iOS_MultimeCollection</key>
		<dict>
			<key>libName</key>
			<string>libJHMultimediaCollectionLibrary.a</string>
			<key>Resource</key>
			<string></string>
			<key>framework</key>
			<string></string>
		</dict>
		<key>iOS_MyPublish</key>
		<dict>
			<key>libName</key>
			<string>libJHMyPublish.a</string>
			<key>Resource</key>
			<string>JHMyPublishResources.bundle</string>
			<key>framework</key>
			<string></string>
		</dict>
		<key>iOS_Interest</key>
		<dict>
			<key>libName</key>
			<string>libJHInterests.a</string>
			<key>Resource</key>
			<string>JHInterestsResources.bundle</string>
			<key>framework</key>
			<string></string>
		</dict>
		<key>iOS_CPlusMessage</key>
		<dict>
			<key>libName</key>
			<string>libJCPlusLibrary.a</string>
			<key>Resource</key>
			<string>JCPlusComponentBundle.bundle</string>
			<key>framework</key>
			<string></string>
		</dict>
		<key>iOS_Tencent_QCloudCore</key>
		<dict>
			<key>libName</key>
			<string>QCloudCore.a</string>
			<key>Resource</key>
			<string>FilterResource.bundle</string>
			<key>framework</key>
			<string></string>
		</dict>
		<key>iOS_Tencent_QCloudCOSXML</key>
		<dict>
			<key>libName</key>
			<string>QCloudCOSXML.a</string>
			<key>Resource</key>
			<string>AnimatedPaster.bundle</string>
			<key>framework</key>
			<string></string>
		</dict>
		<key>iOS_Tencent_TXLiteAVSDK_UGC</key>
		<dict>
			<key>libName</key>
			<string>TXLiteAVSDK_UGC.a</string>
			<key>Resource</key>
			<string>bubbleText.bundle</string>
			<key>framework</key>
			<string></string>
		</dict>
		<key>iOS_Tencent_libmtasdk</key>
		<dict>
			<key>libName</key>
			<string>libmtasdk.a</string>
			<key>Resource</key>
			<string>Paster.bundle</string>
			<key>framework</key>
			<string></string>
		</dict>
		<key>iOS_Tencent_jinher_ShortVideo</key>
		<dict>
			<key>libName</key>
			<string>libTencentShortVideoLibrary.a</string>
			<key>Resource</key>
			<string>JHShortVideoResource.bundle</string>
			<key>framework</key>
			<string></string>
		</dict>
		<key>iOS_BMEWalletSDK</key>
		<dict>
			<key>libName</key>
			<string>libBMEWalletSDK.a</string>
			<key>Resource</key>
			<string>BMEWallet.bundle</string>
			<key>framework</key>
			<string></string>
		</dict>
		<key>iOS_AliPay</key>
		<dict>
			<key>libName</key>
			<string>AlipaySDK.a</string>
			<key>Resource</key>
			<string>AlipaySDK.bundle</string>
			<key>framework</key>
			<string></string>
		</dict>
		<key>iOS_Wechat</key>
		<dict>
			<key>libName</key>
			<string>libWeChatSDK.a</string>
			<key>Resource</key>
			<string></string>
			<key>framework</key>
			<string></string>
		</dict>
		<key>iOS_WechatNoPay</key>
		<dict>
			<key>libName</key>
			<string>libWeChatSDKNoPay.a</string>
			<key>Resource</key>
			<string></string>
			<key>framework</key>
			<string></string>
		</dict>
		<key>iOS_Ali_Login</key>
		<dict>
			<key>libName</key>
			<string>AFServiceSDK.a</string>
			<key>Resource</key>
			<string></string>
			<key>framework</key>
			<string></string>
		</dict>
		<key>iOS_JHGliveComponent</key>
		<dict>
			<key>libName</key>
			<string>libGLiveComponentLibrary.a</string>
			<key>Resource</key>
			<string>FastSDK.bundle</string>
			<key>framework</key>
			<string></string>
		</dict>
		<key>JHOneClickLoginLibrary</key>
		<dict>
			<key>libName</key>
			<string>libJHOneClickLoginLibrary.a</string>
			<key>Resource</key>
			<string>JHOneClickLoginLibraryResource.bundle</string>
			<key>framework</key>
			<string></string>
		</dict>
		<key>iOS_GoldPay</key>
		<dict>
			<key>libName</key>
			<string>libGoldPay.a</string>
			<key>Resource</key>
			<string>GoldPayResource.bundle</string>
			<key>framework</key>
			<string></string>
		</dict>
		<key>iOS_SmallSpace</key>
		<dict>
			<key>libName</key>
			<string>libJHSmallSpace.a</string>
			<key>Resource</key>
			<string>JHSmallSpaceResource.bundle</string>
			<key>framework</key>
			<string></string>
		</dict>
		<key>JHBluetoothLibrary</key>
		<dict>
			<key>libName</key>
			<string>libJHBluetoothLibrary.a</string>
			<key>Resource</key>
			<string></string>
			<key>framework</key>
			<string></string>
		</dict>
		<key>iOS_DianShangTest</key>
		<dict>
			<key>libName</key>
			<string>libJHDianShangTestLibrary.a</string>
			<key>Resource</key>
			<string></string>
			<key>framework</key>
			<string></string>
		</dict>
	</dict>
	<key>Component Dependence</key>
	<dict>
		<key>ios_chat</key>
		<array>
			<string>ios_chat</string>
		</array>
		<key>ios_communication</key>
		<array>
			<string>ios_communication</string>
		</array>
	</dict>
	<key>Filter List</key>
	<array>
		<string>JHECShopHomeComponent</string>
		<string>JHECGoodsDetailComponent</string>
		<string>JHECSearchComponent</string>
		<string>JHECGoodsCategoryComponent</string>
		<string>JHECShoppingCartComponent</string>
		<string>JHRepastCommerceHomeComponent</string>
		<string>JHECSpecialSupportComponent</string>
		<string>iOS_ECommerceHome</string>
		<string>JHECMyWalletComponent</string>
		<string>iOS_JHECShoppingMainComponent</string>
		<string>JHECNearSearchComponent</string>
		<string>ios_c6</string>
		<string>ios_AutoConfigComponent</string>
		<string>JHCheckMachineManage_ios</string>
		<string>iOS_EntityInformationCom</string>
		<string>ios_chat</string>
		<string>ios_communication</string>
		<string>ios_media</string>
		<string>ios_set_personal_info</string>
		<string>ios_lbs</string>
		<string>ios_csrotation</string>
		<string>ios_cplus</string>
		<string>iOS_CPlusMessage</string>
		<string>ios_jinhertest</string>
		<string>ios_jhsocialorganization</string>
		<string>ios_jhchatlibrary</string>
		<string>ios_jhsmallspace</string>
		<string>ios_jhsplitactivity</string>
		<string>ios_jhgesturelock</string>
		<string>ios_jhcommunicatecustomservicelibray</string>
		<string>ios_third_part_login</string>
		<string>ios_TLNewsHomepage</string>
		<string>ios_jhmine</string>
		<string>ios_Genuine_Shopping_My</string>
		<string>iOS_MessageShowCenter</string>
		<string>iOS_CommunicateGroup</string>
		<string>iOS_CommunicateAddressBook</string>
		<string>ios_GSBaseCommodity</string>
		<string>iOS_GSSpecies</string>
		<string>iOS_GSStoreInterConnect</string>
		<string>iOS_JHLActivity</string>
		<string>iOS_JHSearch</string>
		<string>iOS_GSActivity</string>
		<string>iOS_CPlusDownloadUpload</string>
		<string>iOS_FileEditor</string>
		<string>iOS_KingsoftOffice</string>
		<string>iOS_NotificationCenterManager</string>
		<string>ios_JHLiveVideoAEM</string>
		<string>ios_JHXpai</string>
		<string>ios_GSShoppingList</string>
		<string>ios_GSStoreInfo</string>
		<string>ios_JHRecommend</string>
		<string>ios_JHWebExVideoConference</string>
		<string>ios_JHZoomVideoConference</string>
		<string>ios_JHMessageCenterShell</string>
		<string>ios_GSShopComment</string>
		<string>ios_jhlocalwebload</string>
		<string>ios_JHMsgandContactShell</string>
		<string>iOS_BusinessFileDownLoad</string>
		<string>ios_GSShopDetailVideo</string>
		<string>iOS_CommonAddressBook</string>
		<string>iOS_JHMemberNewsLib</string>
		<string>iOS_JHBusinessFactory</string>
		<string>iOS_JHUIFactory</string>
		<string>iOS_JHH5Download</string>
		<string>ios_TingYunSDK</string>
		<string>iOS_JHLikeCommodityLib</string>
		<string>ios_publish</string>
		<string>ios_JHPerformanceMonitor</string>
		<string>ios_LiveLocal</string>
		<string>ios_JHVideoRecording</string>
		<string>ios_JHAudioPlay</string>
		<string>iOS_JCPLUS_Auto_Location</string>
		<string>ios_shoppingCart</string>
		<string>ios_NewDiscovery</string>
		<string>iOS_QuickExpandMenu</string>
		<string>ios_GoodsDetail</string>
		<string>ios_payment</string>
		<string>ios_libJHYIHIBO</string>
		<string>jhLiveIErMu_iOS</string>
		<string>ios_SXFJHVPN</string>
		<string>jhFollow_IOS</string>
		<string>ios_StoreHomePage</string>
		<string>jhLiveAli_iOS</string>
		<string>StoresInfoMapComponent_IOS</string>
		<string>LiveNetEaseCom_iOS</string>
		<string>LiveJHCamreaCom_iOS</string>
		<string>LiveJHCamreaCom_Depend_iOS</string>
		<string>YJBManage_ios</string>
		<string>JHEBOL_ios</string>
		<string>JHGSScan_ios</string>
		<string>JC6NativeComponent_IOS</string>
		<string>iOS_JHPatrolSDK</string>
		<string>iOS_JHCameraSDK</string>
		<string>ios_warshCar</string>
		<string>ios_taskthings</string>
		<string>JHTXLiteAVSDKLibrary</string>
		<string>IOS_JHFilePick</string>
		<string>JHXJSearchLibrary</string>
		<string>IOS_JHStoreSignIn</string>
		<string>IOS_JHIntegral</string>
		<string>IOS_JHDirectBoss</string>
		<string>IOS_JHBuyordersetting</string>
		<string>ios_JHGSPersonalPage</string>
		<string>ios_BMCreditsExchange</string>
		<string>ios_Store_Chat</string>
		<string>IOS_JHSelfInspectSDK</string>
		<string>IOS_JHStoreStaff</string>
		<string>iOS_IntelDecisionSDK</string>
		<string>iOS_FiveDutyPointLibrary</string>
		<string>iOS_MapBaseLibrary</string>
		<string>IOS_PreciseControlCom</string>
		<string>IOS_FivePointsBlackBox</string>
		<string>ios_organization</string>
		<string>CityQuestionReport_iOS</string>
		<string>JHUGManagerSDK</string>
		<string>ios_CPPaySDK</string>
		<string>JHLocationMsgUpload</string>
		<string>iOS_FoodOriginSDK</string>
		<string>iOS_MemoryMonitor</string>
		<string>iOS_PerformanceMonitor</string>
		<string>iOS_MultimeCollection</string>
		<string>iOS_MyPublish</string>
		<string>iOS_Interest</string>
		<string>iOS_MapTemplateComponent</string>
		<string>iOS_Tencent_QCloudCore</string>
		<string>iOS_Tencent_QCloudCOSXML</string>
		<string>iOS_Tencent_TXLiteAVSDK_UGC</string>
		<string>iOS_Tencent_libmtasdk</string>
		<string>iOS_Tencent_jinher_ShortVideo</string>
		<string>iOS_BMEWalletSDK</string>
		<string>iOS_AliPay</string>
		<string>iOS_Wechat</string>
		<string>iOS_WechatNoPay</string>
		<string>iOS_Ali_Login</string>
		<string>iOS_JHGliveComponent</string>
		<string>iOS_GoldPay</string>
		<string>ios_gold</string>
		<string>iOS_SmallSpace</string>
		<string>JHBluetoothLibrary</string>
		<string>iOS_DianShangTest</string>
		<string>JHOneClickLoginLibrary</string>
	</array>
</dict>
</plist>
